<div layout="row" layout-align="center start" layout-margin layout-padding style="max-width:1200px; margin: auto;">
    <div flex="initial" md-whiteframe="2" layout-padding>
        <h4 class="md-display-1">About RS StarLoad</h4>
        <h5 class="md-title">Hello all,</h5>
        <p>
            I represent myself on behalf of <a href="http://www.reventstudio.com">Revent Studio</a>. <br><br>
            Which is a little organization that I started in order to develop my projects. Just a reminder Revent Studio
            in no way or form is affiliated with Roberts Space Industries. This project, RS StarLoad, was created purely on my own free time while powered
            by my passion for web development.
        </p>
        <p>
            The intent of RS StarLoad is to help fellow <a href=https://robertsspaceindustries.com/">RSI: Star Citizens</a> manage their freight. Having Alpha patch 3.0 on the horizon, with it comes
            the introduction of cargo to the PU. I wanted to create a software that will help Star Citizen's organizations and even a sole proprietors to transport cargo throughout the universe.
        </p>
        <h5 class="md-title">Premise of RS StarLoad</h5>
        <ul class="rs-list">
            <li class="rs-list-item">View/search for loads throughout the universe.</li>
            <li class="rs-list-item">Negotiate prices of different loads.</li>
            <li class="rs-list-item">Build a reputation system between transport organizations.</li>
            <li class="rs-list-item">Track loads.</li>
            <li class="rs-list-item">Create a relationship between organizations that allow for development of logistic concepts such as dedicated, brokered, local/domestic, and interplanetary loads.</li>
        </ul>
        
        <h5 class="md-title">Recruiting</h5>
        <p>
            This, by all means, is not a small project. With that said I would like to ask the community for help.
            Currently I am seeking individuals who have strong passion for Star Citizen and experience in the following positions:
        </p>
        
        <ul class="rs-list">
            <li class="rs-list-item">Web Development (NodeJs, AngularJS, MySQL, HTML/CSS/JS)</li>
            <li class="rs-list-item">Digital Graphic Design</li>
            <li class="rs-list-item">Marketing</li>
            <li class="rs-list-item">Public Representative (Requires good skills in English language)</li>
            <li class="rs-list-item">Logistics</li>
        </ul>
        
        <p>
            Unfortunately, this is a low-budget project and I cannot guarantee a monitory value for your work and time.
            For those who are interested, I require a strong motivation to help out the Star Citizen community. Those who do help out greatly, will
            be able to put RS StarLoad as a project on their professional resume with my full support.
        </p>
        <p>
            For those who are interested in helping this project please contact me via email at <a href="mailto:contact@reventstudio.com">contact@reventstudio.com</a> with a subject "RS StarLoad - Application - [Include position applying for]".
            In the application please include the following items:
        </p>
        <ul class="rs-list">
            <li class="rs-list-item">Handle (what you wish to be called)</li>
            <li class="rs-list-item">In-game handle (Name of your primary character)</li>
            <li class="rs-list-item">Best way to contact you</li>
            <li class="rs-list-item">Position</li>
            <li class="rs-list-item">Examples of your work (scratch work)</li>
        </ul>
        <p>
            Couple of things on the side note, English is not my primary language that is why I am looking for someone with a strong background in English.
            Also once RS StarLoads starts to receive traction, other groups will try to copy the idea and incorporate it for themselves. I have seen this in many different projects. To prevent this from happening
            I would rather have them join my team and help out.
        </p>
        <p>
            Thank you!
        </p>
    </div>
    <div flex="initial" md-whiteframe="2" layout-padding>
        <md-list-item class="md-2-line">
            <div class="md-list-item-text">
                <h3>Version</h3>
                <p>Minimum viable product 0.1</p>
            </div>
        </md-list-item>
        <p>
            With great support from reddit, I decided to move forward with this project. Alpha is almost here. Stay tuned!
        </p>
    </div>

</div>