<div layout="column" ng-cloak layout-margin layout-align="center center">
    <div flex="50">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias aliquam nesciunt nisi. Aliquid dicta, eveniet fugit harum in ipsa itaque, iusto laborum molestias natus, saepe totam ut vero voluptas voluptatem?
    </div>
    <div flex="50">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias aliquam nesciunt nisi. Aliquid dicta, eveniet fugit harum in ipsa itaque, iusto laborum molestias natus, saepe totam ut vero voluptas voluptatem?
    </div>
    <div flex="50">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias aliquam nesciunt nisi. Aliquid dicta, eveniet fugit harum in ipsa itaque, iusto laborum molestias natus, saepe totam ut vero voluptas voluptatem?
    </div>
</div>