<div layout="row" layout-wrap layout-align="center center">
    <md-content class="md-padding md-margin md-whiteframe-2dp" flex="nogrow" style="max-width:800px;">
        <form name="loadForm" ng-submit="addLoad()">
            <md-input-container class="md-padding" style="width:90%;">
                <label>Sending Party</label>
                <input  ng-model="load.senderId" name="loadSender" autocomplete="off" required md-maxlength="25" maxlength="25" minlength="2">
                <div ng-messages="loadForm.loadSender.$error" ng-show="loadForm.loadSender.$dirty">
                    <div ng-message="required">This is required!</div>
                    <div ng-message="md-maxlength">That's too long!</div>
                    <div ng-message="minlength">That's too short!</div>
                </div>
            </md-input-container>
            <md-input-container  class="md-padding" style="width:90%;">
                <label>Delivering Party ID (For Dedicated Loads)</label>
                <input  ng-model="load.receiverId" name="receiverId" autocomplete="off" md-maxlength="25" maxlength="25" minlength="2">
                <div ng-messages="loadForm.receiverId.$error" ng-show="loadForm.receiverId.$dirty">
                    <div ng-message="required">This is required!</div>
                    <div ng-message="md-maxlength">That's too long!</div>
                    <div ng-message="minlength">That's too short!</div>
                </div>
            </md-input-container>
            <br>
            <md-input-container class="md-padding" style="width:90%;">
                <label>Load Title</label>
                <input  ng-model="load.load" name="loadTitle" autocomplete="off" required md-maxlength="25" maxlength="25" minlength="2">
                <div ng-messages="loadForm.loadTitle.$error" ng-show="loadForm.loadTitle.$dirty">
                    <div ng-message="required">This is required!</div>
                    <div ng-message="md-maxlength">That's too long!</div>
                    <div ng-message="minlength">That's too short!</div>
                </div>
            </md-input-container>
            <br>
            <md-input-container  class="md-padding" style="width:90%;">
                <label>Pickup Location</label>
                <input  ng-model="load.pickupLocation" name="pickupLocation" autocomplete="off" required md-maxlength="25" maxlength="25" minlength="2">
                <div ng-messages="loadForm.pickupLocation.$error" ng-show="loadForm.pickupLocation.$dirty">
                    <div ng-message="required">This is required!</div>
                    <div ng-message="md-maxlength">That's too long!</div>
                    <div ng-message="minlength">That's too short!</div>
                </div>
            </md-input-container>
            <md-input-container class="md-padding" style="width:90%;">
                <label>Drop-Off Location</label>
                <input  ng-model="load.dropOffLocation" name="dropOffLocation" autocomplete="off" required md-maxlength="25" maxlength="25" minlength="2">
                <div ng-messages="loadForm.dropOffLocation.$error" ng-show="loadForm.dropOffLocation.$dirty">
                    <div ng-message="required">This is required!</div>
                    <div ng-message="md-maxlength">That's too long!</div>
                    <div ng-message="minlength">That's too short!</div>
                </div>
            </md-input-container>
            <md-input-container  class="md-padding" style="width:90%;">
                <label>Initial Load Price</label>
                <input ng-model="load.startingBid" name="startingBid" autocomplete="off" required md-maxlength="25" maxlength="25" minlength="1">
                <div ng-messages="loadForm.startingBid.$error" ng-show="loadForm.startingBid.$dirty">
                    <div ng-message="required">This is required!</div>
                    <div ng-message="md-maxlength">That's too long!</div>
                    <div ng-message="minlength">That's too short!</div>
                </div>
            </md-input-container>
            <md-input-container  class="md-padding" style="width:90%;">
                <label>Cargo</label>
                <md-chips
                    ng-model="load.loadContents"
                    md-separator-keys="keys"
                    placeholder="Enter an item"
                    secondary-placeholder="Comma separated items">
                </md-chips>
            </md-input-container>
            <md-input-container class="md-block">
                <label>Notes for delivering party</label>
                <textarea ng-model="load.loadDescription" md-maxlength="150" rows="5" md-select-on-focus></textarea>
            </md-input-container>
                        
            <md-input-container class="md-padding md-margin">
                <md-button class="md-fab md-primary" type="submit" ng-disabled="!(loadForm.$dirty && loadForm.$valid)" aria-label="Add">
                    <i class="fa fa-plus fa-fw"></i>
                </md-button>
            </md-input-container>
        </form>
    </md-content>
</div>