<div layout="row" layout-align="center start" layout-margin layout-padding style="max-width:1200px; margin: auto;">
    <div flex="initial" layout-padding style="width: 900px;">
        <md-content ng-if="loadList.length == 0" style="text-align: center;">
            Unfortunately, we do not have any loads available at the moment. Please come back later.
        </md-content>
        <md-content ng-if="loadList.length != 0">
            <md-input-container class="md-padding" style="width:90%;">
                <label>Search Loads</label>
                <input  ng-model="filterLoad" name="loadSearch" autocomplete="off"  md-maxlength="25" maxlength="25">
                <div ng-messages="loadForm.loadSender.$error" ng-show="loadForm.loadSender.$dirty">
                    <div ng-message="md-maxlength">That's too long!</div>
                </div>
            </md-input-container>
            <md-list>
                <md-list-item class="md-3-line" ng-repeat="load in loadList | filter: filterLoad | orderBy: load.pickupDate:true" >
                    <div class="md-list-item-text">
                        <h3>{{load.getSenderId()}} - {{load.getLoadName()}}</h3>
                        <h4>{{load.getStartingBid() | currency}}</h4>
                        <p>{{load.getPickupLocation()}} - {{load.getDropOffLocation()}}</p>
                    </div>
                    <md-button class="md-secondary" ng-click="viewLoad(load)">View</md-button>
                    <md-divider ng-if="!$last"></md-divider>
                </md-list-item>
            </md-list>
            <div ng-if="alert">
                <br/>
                <b layout="row" layout-align="center center" class="md-padding">
                    {{alert}}
                </b>
            </div>
        </md-content>
    </div>
    <div flex="initial" layout-padding>
        <h5 class="md-title">Detailed Load View</h5>
        <div class="rs-detailed-load-view no-content" ng-if="!!!selectedLoad">
            Please select a load from the left.
        </div>
        <div class="rs-detailed-load-view" ng-if="!!selectedLoad" style="width: 300px;">
            <md-list-item class="md-2-line">
                <div class="md-list-item-text">
                    <h3>Load Name</h3>
                    <p>{{selectedLoad.getLoadName()}}</p>
                </div>
            </md-list-item>
            <md-list-item class="md-2-line">
                <div class="md-list-item-text">
                    <h3>Sending Party</h3>
                    <p>{{selectedLoad.getSenderId()}}</p>
                </div>
            </md-list-item>
            <md-list-item class="md-2-line">
                <div class="md-list-item-text">
                    <h3>Pickup Location</h3>
                    <p>{{selectedLoad.getPickupLocation()}}</p>
                </div>
            </md-list-item>
            <md-list-item class="md-2-line">
                <div class="md-list-item-text">
                    <h3>Drop-off Location</h3>
                    <p>{{selectedLoad.getDropOffLocation()}}</p>
                </div>
            </md-list-item>
            <md-list-item class="md-2-line">
                <div class="md-list-item-text">
                    <h3>Starting bid</h3>
                    <p>{{selectedLoad.getStartingBid() | currency}}</p>
                </div>
            </md-list-item>
            <md-list-item class="md-2-line">
                <div class="md-list-item-text">
                    <h3>Cargo</h3>
                    <md-chips ng-model="selectedLoad.loadContents" readonly="true" md-removable="false"></md-chips>
                    <br><br>
                </div>
            </md-list-item>
            <md-list-item class="md-2-line">
                <div class="md-list-item-text">
                    <h3>Notes from sending party</h3>
                    <p>{{selectedLoad.getLoadDescription()}}</p>
                </div>
            </md-list-item>
            <md-list-item class="md-2-line">
                <div class="md-list-item-text">
                    <md-input-container  class="md-padding" >
                        <label>Place a bid</label>
                        <input ng-model="selectedLoad.finalBid" name="finalBid" autocomplete="off" required md-maxlength="25" maxlength="25" minlength="1">
                        <div ng-messages="selectedLoad.finalBid.$error" ng-show="selectedLoad.finalBid.$dirty">
                            <div ng-message="required">This is required!</div>
                            <div ng-message="md-maxlength">That's too long!</div>
                            <div ng-message="minlength">That's too short!</div>
                        </div>
                    </md-input-container>
                </div>
            </md-list-item>
            <md-list-item class="md-2-line">
                <div class="md-list-item-text" style="text-align: right;">
                    <md-button class="md-raised md-primary" ng-click="saveLoadToPersonalList(selectedLoad)">Bid</md-button>
                </div>
            </md-list-item>
            
        </div>
    </div>

</div>