<div ng-controller="rootLoadController" ng-cloak>
    <div layout="column" layout-align="center stretch">
        <div flex class="sub-nav md-whiteframe-4dp" style="background-color: #F5F5F5;">
            <ul class="">
                <li><md-button ng-class="activeClass('loads.loads')" ui-sref="loads.loads">All Loads</md-button></li>
                <li><md-button ng-class="activeClass('loads.active')" ng-disabled="true" ui-sref="loads.active">Your Loads</md-button></li>
                <li><md-button ng-class="activeClass('loads.create')" ui-sref="loads.create">Create Load</md-button></li>
            </ul>
        </div>
        <div flex ui-view ></div>
    </div>
</div>