body{
    background-color: #FAFAFA;
    min-height: 900px;
    margin-bottom: 250px;
}

.rs-banner{
    width: auto;
    height: 400px;
    overflow: hidden;
    background-image: url('../images/banners/bg1.jpg');
    background-position: center 50px;
    background-attachment: fixed;
    background-size: auto 400px;
    background-repeat: no-repeat;
}

.rs-nav{
    background-color: #F5F5F5;
}

.rs-content{

}

.sub-nav > ul {
    margin: 2px;
}

.sub-nav > ul > li {
    display:inline-block;
}

.sub-nav > ul > li > a {
    color: rgba(0,0,0,0.53);
}

.sub-nav > ul > li > a:visited{
    color: rgba(0,0,0,0.84);
}

a,
a:visited{
    color: #F44336;
    text-decoration: none;
}

a:hover{
    color: #B71C1C;
}

.rs-list {
    list-style: none;
    margin-left: 0;
    padding-left: 0;
}

.rs-list-item {
    padding-left: 1em;
    text-indent: -1em;
    margin-bottom: 1em;
}

.rs-list-item:before {
    content: "-";
    padding-right: 5px;
}

/** All Loads **/

.rs-load-item-container{
    width: auto;
}
.rs-load-item-container > .rs-load-item {
    width: 100%;
    list-style: none;
    margin-left: 0;
    padding-left: 0;
}

.rs-load-item-container > .rs-load-item > .rs-load-item-col{
    display: inline-block;
}